<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838263498405-8jc4f2j5p27iklfgm6q5kl9gqknlv5it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838263498405-8jc4f2j5p27iklfgm6q5kl9gqknlv5it</string>
	<key>API_KEY</key>
	<string>AIzaSyAp_6EU2S02bptamhxgsElQDy6wGE7yKxU</string>
	<key>GCM_SENDER_ID</key>
	<string>838263498405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solutionStarter</string>
	<key>PROJECT_ID</key>
	<string>solution-starter</string>
	<key>STORAGE_BUCKET</key>
	<string>solution-starter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838263498405:ios:1fe3672e39c56a10244f4c</string>
</dict>
</plist>